.footer__btn {
  border: 1.5px solid rgba(255, 66, 127, 1);
  background-color: #fff;
  color: rgba(255, 66, 127, 1);
  padding: 18px 45px;
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
}